<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>MacHu-GWU.afwf_fts_anything</string>
	<key>connections</key>
	<dict>
		<key>27D78147-51C3-4E72-B805-0E11B1F3A6D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0954010F-CD86-448F-A32A-086CF90100D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5EA742F9-1BBA-4433-8613-BFBFF0D0E462</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55DEB335-2FC6-4FF9-8482-F949B27BFEE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27D78147-51C3-4E72-B805-0E11B1F3A6D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>92ADA757-06DC-428F-AA48-7C16FD4BE487</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA372964-D319-44BA-AA38-CFB7EAEEF180</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92ADA757-06DC-428F-AA48-7C16FD4BE487</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06224816-79FA-4D91-A314-0C8E6756D80B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5EA742F9-1BBA-4433-8613-BFBFF0D0E462</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA372964-D319-44BA-AA38-CFB7EAEEF180</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B86DCC60-B7BA-4FCB-A766-0282D4F57AEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5EA742F9-1BBA-4433-8613-BFBFF0D0E462</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sanhe Hu</string>
	<key>description</key>
	<string>Full Text Search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>afwf_fts_anything</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>69</integer>
				<key>keyword</key>
				<string>fts movie</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 main.py 'fts movie {query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Keyword: fts movie</string>
				<key>title</key>
				<string>Full Text Search for Movie Info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55DEB335-2FC6-4FF9-8482-F949B27BFEE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:_open_log_file_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0954010F-CD86-448F-A32A-086CF90100D2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:_open_log_file}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>5EA742F9-1BBA-4433-8613-BFBFF0D0E462</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>27D78147-51C3-4E72-B805-0E11B1F3A6D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:reveal_file_in_finder_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>06224816-79FA-4D91-A314-0C8E6756D80B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:reveal_file_in_finder}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>5EA742F9-1BBA-4433-8613-BFBFF0D0E462</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>92ADA757-06DC-428F-AA48-7C16FD4BE487</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:open_url_arg}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B86DCC60-B7BA-4FCB-A766-0282D4F57AEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_url}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>y</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>5EA742F9-1BBA-4433-8613-BFBFF0D0E462</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EA372964-D319-44BA-AA38-CFB7EAEEF180</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>afwf_fts_anything is an Alfred Workflow allows you to do full-text search on your own dataset, and use the result to open url, open file, run script, or basically do anything. Typically, you need to setup expansive elasticsearch server, learn how to do data ingestion, learn search API, and build your own Alfred workflow. afwf_fts_anything removes all the blockers and let you just focus on your dataset and search configuration.

See more at: https://github.com/MacHu-GWU/afwf_fts_anything-project</string>
	<key>uidata</key>
	<dict>
		<key>06224816-79FA-4D91-A314-0C8E6756D80B</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>0954010F-CD86-448F-A32A-086CF90100D2</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>27D78147-51C3-4E72-B805-0E11B1F3A6D8</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>55DEB335-2FC6-4FF9-8482-F949B27BFEE9</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>92ADA757-06DC-428F-AA48-7C16FD4BE487</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>B86DCC60-B7BA-4FCB-A766-0282D4F57AEF</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>EA372964-D319-44BA-AA38-CFB7EAEEF180</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/MacHu-GWU/afwf_fts_anything-project</string>
</dict>
</plist>
